@model IEnumerable<WebIzaje.Models.Usuarios>
@{
    ViewBag.Title = "Todos los Usuarios";
}

<div class="container">
    @if (ViewBag.success == 0)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong><i class="glyphicon glyphicon-remove-circle text-danger"></i></strong> No se ha podido realizar los cambios!.
        </div>
    }
    @if (ViewBag.success == 1)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong><i class="glyphicon glyphicon-ok-circle text-success"></i></strong> Cambios realizados con exito!.
        </div>
    }
    <div class="page-header"><h2>Usuarios</h2></div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Identficador</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    <th>Asignar Area</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (WebIzaje.Models.Usuarios user in (List < WebIzaje.Models.Usuarios>)Model)
                    {
                        <tr>
                            <td><strong class="text-primary">@user.identificador</strong></td>
                            <td>@user.nombres</td>
                            <td>@user.apellido_paterno</td>
                            <td>@user.email</td>
                            @if(user.rol.Equals("jefeArea")){
                                <td>autorizador MLP</td>
                            }
                            else{
                                <td>@user.rol</td>
                            }
                            <td><a href="@Url.Action("editarUsuario", "Admin", new { nombre = user.identificador })"><i class='glyphicon glyphicon-edit text-primary'></i></a></td>
                            <td><a href="#" data-toggle="modal" data-target="#myModal" onclick="funcionDelete('@user.identificador')"><span class='glyphicon glyphicon-trash text-danger'></span></a></td>
                            @if(user.rol.Equals("jefeArea")){
                                <td><a href="@Url.Action("Nuevo_Jefe_Area", "Admin", new { id = user.identificador })"><i class='glyphicon glyphicon-user text-info'></i></a></td>
                            }
                            else{
                                <td><a href="#"></a></td>
                            }
                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <hr />
    <a href="@Url.Action("agregarUsuario", "Admin")" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus-sign text-success"></i>&nbsp;Nuevo</a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">¿Eliminar Registro?</h4>
                </div>
                <div class="modal-body">
                    <h5 class="text-center" id="text-modal"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>Cancelar</button>
                    <a href="" type="button" id="btn_delete" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        function funcionDelete(name) {
            $("#text-modal").html("");
            var cadena = "@Url.Action("eliminarUsuario", "Admin", new { id = "name"})";
            cadena = cadena.replace("name",name);
            $("#btn_delete").attr("href", cadena);
            $("#text-modal").append("¿Estás seguro de que deseas eliminar a <strong>"+name+"</strong>  de Usuarios?");

        }

    </script>
}
